# macOS
.DS_Store

# Node / web app
web/node_modules/
web/dist/
web/*.local
web/.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Xcode
xcuserdata/
*.xcuserstate
build/
DerivedData/
*.xcscmblueprint
*.xccheckout

# Env
.env
.env.local
